<h1><%= @items.id ? 'Edit Item' : 'Create Item' %></h1>

<hr />
<%= form_for [@department, @items] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <br />
  <%= f.label :price %>
  <%= f.number_field :price, required: true %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back to menu', department_items_path %>